:root{
    --fundo: #18c9cc;
    --cartao-frente: #3fe7d6;
    --cartao-verso: #0f7774;
    --destaque: #0c3535;
    --preto: #000000; 
    --branco: #ffffff; 
}

body{
    background-color: var(--fundo);
}